
@keyframes rotate {
	100% {
		transform: rotate(2turn);
	}
}

.channelPart-container-container {
	--gap: 4px;
	--scrollbar-width: 10px;
	--whole-scrollbar-gap-height: 10px;
	--animation-time: 1.8s;
	position: relative;
	flex: 0.5 0 0;
	margin: 0 20px;
	height: 100%;
	border-radius: 10px;
}

.chat-title {
	padding: 3px 10px 0px;
	box-shadow: rgb(0 0 0 / 15%) -1.95px -0.95px 2.6px;
	display: block;
	width: fit-content;
	margin: 15px 0 0 15px;
	opacity: 100%;
	transition: all var(--animation-time);
}

.channelPart-container {
	position: relative;
	flex: 0.4 1 0;
	height: 100%;
	border-radius: 10px;
}

.plus-svg {
	position: relative;
	margin: 10px auto;
	width: 25px;
	height: 25px;
	cursor: pointer;
	border: 2px solid rgb(104, 104, 104);
	border-radius: 50%;
	box-sizing: border-box;
	transition: all 0.3s, border-radius 0.5s ease;
}

.plus-svg:hover {
	width: 100%;
	border: 2px solid rgb(104, 104, 104);
	border-radius: 10px;
}

.channelPart-child {
	--local-gap: 6px;
	padding: var(--local-gap);
	display: flex;
	flex-direction: column;
	height: 100%;
	position: relative;
	flex: 0.5 1 0;
	height: 80%;
	box-shadow: 0 0 10px 3px blue;
	background-color: rgb(245, 245, 245);
	border-radius: 10px;
}

.channels-container {
	position: relative;
	box-sizing: border-box;
	overflow-y: scroll;
	overflow-x: hidden;
	left: var(--gap);
	width: calc(100% - var(--gap) * 2);
	height: calc(100% - var(--gap) * 4);
	scrollbar-width: thin;
}

.channels-container::-webkit-scrollbar {
	width: var(--scrollbar-width);
}

div::-webkit-scrollbar-thumb {
	border-radius: 5px; 
	background: #c5c5c5;
}

.channels-child {
	position: relative;
	left: var(--scrollbar-width);
	width: calc(100% - var(--scrollbar-width) * 2);
}