@keyframes rotate {
	100% {
		transform: rotate(2turn);
	}
}

.channelPlayers-container-container {
	--gap: 4px;
	--scrollbar-width: 10px;
	--whole-scrollbar-gap-height: 10px;
	--animation-time: 1.8s;
	flex: 0.5 1 0;
	position: relative;
	height: 100%;
}

.chat-title {
	padding: 3px 10px 0px;
	box-shadow: rgb(0 0 0 / 15%) -1.95px -0.95px 2.6px;
	display: block;
	width: fit-content;
	margin: 15px 0 0 15px;
	opacity: 100%;
	transition: all var(--animation-time);
}

.channelPlayers-container {
	flex: 0.5 1 0;
	position: relative;
	height: 80%;
	box-shadow: 0 0 10px 3px blue;
	background-color: rgb(245, 245, 245);
}

.channelPlayers-child {
	box-sizing: border-box;
	overflow-y: scroll;
	overflow-x: hidden;
	height: 100%;
	scrollbar-width: thin;
}

.channelPlayers-child::-webkit-scrollbar {
	width: var(--scrollbar-width);
}

div::-webkit-scrollbar-thumb {
	border-radius: 5px; 
	background: #c5c5c5;
}