@import url('https://fonts.googleapis.com/css2?family=Tilt+Neon&display=swap');

@keyframes rotate {
	100% {
		transform: rotate(1turn);
	}
}

@keyframes slide-bgColor {
	0% {	
		background-color: rgb(var(--rgbBgColor));
	}
	20% {	
		background-color: rgb(var(--rgbBgColor));
	}
	100% {
		background-color: rgba(var(--rgbBgColor), 0);
	}
}

.chat-container {
	position: relative;
	width: 1000px;
	height: 500px;
	margin: 2% 2% 0;
}

.chat-container textarea {
	resize: none;
}

.messages-container-container {
	--gap: 4px;
	--scrollbar-width: 10px;
	--whole-scrollbar-gap-height: 10px;
	position: relative;
	width: 100%;
	height: 100%;
	overflow: hidden;
}

.messages-container-bg {
	position: absolute;
	width: 100%;
	height: 100%;
	z-index: 0;
	overflow: hidden;
	border-radius: 5px;
}

.messages-container-bg::before {
	content: '';
	position: absolute;
	top: -100%;
	left: -100%;
	width: 300%;
	height: 300%;
	z-index: -1;
	background-image: conic-gradient(rgba(255, 0, 0, 0.65) 0deg calc(90deg - 10deg), white calc(90deg + 45deg) calc(270deg - 45deg), rgba(255, 0, 0, 0.65) calc(270deg + 10deg) 360deg);
	animation: rotate 1.4s;
}

.messages-container-bg::after {
	content: '';
	position: absolute;
	top: var(--gap);
	left: var(--gap);
	width: calc(100% - var(--gap) * 2);
	height: calc(100% - var(--gap) * 2);
	border-radius: 3px;
	z-index: -1;
	background-color: rgb(245, 245, 245);
	background-size: 1%;
}

.messages-container {
	position: relative;
	top: calc(var(--gap) + var(--whole-scrollbar-gap-height));
	left: var(--gap);
	width: calc(100% - var(--gap) - var(--scrollbar-width));
	height: calc(100% - 2 * (var(--gap) + var(--whole-scrollbar-gap-height)));
	box-sizing: border-box;
	overflow-y: scroll;
	overflow-x: hidden;
	scrollbar-width: thin;
}

.messages-container::-webkit-scrollbar {
	width: var(--scrollbar-width);
}

div::-webkit-scrollbar-thumb {
	border-radius: 5px; 
	background: #c5c5c5;
}

.message-container {
	--rgbBgColor: 214, 100, 214;
	position: relative;
	margin: 3px;
	padding: 7px 10px 2px;
	border-radius: 5px;
	animation: slide-bgColor 0.8s ease;
}

.message-text {
	font-family: 'Tilt Neon', cursive;
	word-break: break-all;
	margin: 0;
	font-size: 1em;
}

.pseudo-button {
	background: transparent;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
	border-radius: 5px;
	transition: all 0.4s;
}

.pseudo-button:hover {
	background: rgb(215, 215, 215);
	padding: 3px;
}

.other_pseudo {
	color: darkseagreen;
}


.textarea-text-container {
	position: relative;
	width: 100%;
	margin: 1% 0;
}

.textarea-text {
	position: relative;
	box-sizing: border-box;
	padding: 1em;
	margin: 0.1em;
	overflow: hidden; /* Hide scrollbars */
	width: 100%;
}


.textarea-text:focus {

}


.buttons-container {
	margin: 0 2% 2%;
}

@media screen and (max-width: 1100px) {
	.chat-container {
		width: 800px;
	}
}


@media screen and (max-width: 900px) {
	.chat-container {
		margin: 0;
		left: 0;
		width: 100%;
	}
}