@import url('https://fonts.googleapis.com/css2?family=Tilt+Neon&display=swap');

@keyframes rotate {
	100% {
		transform: rotate(1turn);
	}
}

@keyframes slide-bgColor {
	0% {	
		background-color: rgb(var(--rgbBgColor));
	}
	20% {	
		background-color: rgb(var(--rgbBgColor));
	}
	100% {
		background-color: rgba(var(--rgbBgColor), 0);
	}
}

.chat-container {
	--animation-time: 1.4s;
	position: relative;
	height: 100%;
	flex: 1 0 0;
	display: flex;
	min-width: 25em;
	flex-direction: column;
}

@media screen and (max-width: 1100px) {
	.chat-container {
	}
}

@media screen and (max-width: 900px) {
	.chat-container {
		margin: 0;
		left: 0;
	}
}

.chat-title-container {
	display: flex;
	align-items: first baseline;
}

.chat-title {
	padding: 3px 10px 0px;
	box-shadow: rgb(0 0 0 / 15%) -1.95px -0.95px 2.6px;
	display: block;
	width: fit-content;
	margin: 15px 0 0 15px;
	opacity: 100%;
	transition: all var(--animation-time);
}

.gear-svg {
	display: inline;
	vertical-align: middle;
	margin-left: 10px;
	cursor: pointer;
	transition: all 0.3s;
}

.gear-svg:hover {
	transform: rotate(-90deg);
	color: rgb(28, 28, 28);
}

.messages-container-container {
	--gap: 4px;
	--scrollbar-width: 10px;
	--whole-scrollbar-gap-height: 10px;
	position: relative;
	width: 100%;
	height: 100%;
	overflow: hidden;
}

.messages-container-bg {
	position: absolute;
	width: 100%;
	height: 100%;
	z-index: 0;
	overflow: hidden;
	border-radius: 5px;
}

.messages-container-bg::before {
	content: '';
	position: absolute;
	top: -100%;
	left: -100%;
	width: 300%;
	height: 300%;
	z-index: -1;
	background-image: conic-gradient(rgb(40, 187, 255) 0deg calc(90deg - 10deg), white calc(90deg + 45deg) calc(270deg - 45deg), rgb(40, 187, 255) calc(270deg + 10deg) 360deg);
	animation: rotate var(--animation-time);
}

.messages-container-bg::after {
	content: '';
	position: absolute;
	top: var(--gap);
	left: var(--gap);
	width: calc(100% - var(--gap) * 2);
	height: calc(100% - var(--gap) * 2);
	border-radius: 3px;
	z-index: -1;
	background-color: rgb(245, 245, 245);
	background-size: 1%;
}

.messages-container {
	position: relative;
	top: calc(var(--gap) + var(--whole-scrollbar-gap-height));
	left: var(--gap);
	width: calc(100% - var(--gap) - var(--scrollbar-width));
	height: calc(100% - 2 * (var(--gap) + var(--whole-scrollbar-gap-height)));
	box-sizing: border-box;
	overflow-y: scroll;
	overflow-x: hidden;
	scrollbar-width: thin;
}

.messages-container::-webkit-scrollbar {
	width: var(--scrollbar-width);
}

div::-webkit-scrollbar-thumb {
	border-radius: 5px; 
	background: #c5c5c5;
}

.without-animation {
	animation: none !important;
}

.message-container {
	--rgbBgColor: 214, 100, 214;
	position: relative;
	margin: 3px;
	padding: 7px 10px 2px;
	border-radius: 5px;
	animation: slide-bgColor 0.8s ease;
}

.message-text {
	font-family: 'Tilt Neon', cursive;
	word-break: break-all;
	margin: 0;
	font-size: 0.9em;
}


.event-text-container {
	position: relative;
	margin: 3px;
	padding: 7px 10px 2px;
	border-radius: 5px;
}

.event-text {
	word-break: break-all;
	margin: 0;
	font-size: 0.8em;
}

.chat-container textarea {
	resize: none;
}

.pseudo-button {
	border-radius: 5px;
	transition: all 0.2s;
}

.pseudo-button:hover {
	background: rgb(215, 215, 215);
}

.other_pseudo {
	color: darkseagreen;
}


.hidden {
	opacity: 0% !important;
}

.textarea-text-container {
	position: relative;
	width: 100%;
	margin: 40px 0 10px;
	opacity: 100%;
	transition: all var(--animation-time);
}

.textarea-text {
	position: relative;
	box-sizing: border-box;
	padding: 1em;
	margin: 0.1em;
	overflow: hidden; /* Hide scrollbars */
	width: 100%;
}


.textarea-text:focus {

}


.buttons-container {
	margin: 0 2% 2%;
}
