.DM-container {
	display: flex;
	position: relative;
	flex-grow: 1;
	padding: 15px 20px;
	height: 100%;
	margin: 20px;
}

.DM-container-bg {
	content: '';
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: -1;
	border-radius: 10px;
	background-color: #ffffffd8;
	box-shadow: 0 0 10px 35px white;
}