@import url('https://fonts.googleapis.com/css2?family=Tilt+Neon&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mukta&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');


.game-container {
	--game-width: 800px;
	position: relative;
	margin: 40px auto 10px;
}

.all-game {
	position: relative;
	width: fit-content;
    min-width: fit-content;
    margin: auto;
}

.game-frame {
	border: 5px solid white;
	min-width: fit-content;
	min-height: fit-content;
	position: relative;
}


.mode-game {
	position:relative;
	text-align: center;
	font-size: 40px;
	margin: 0;
	font-family: 'Bebas Neue', cursive;
}

.login-score {
	position: relative;
}

.login-container {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	margin: 3px auto;
	width: var(--game-width);
	font-family: 'Mukta', sans-serif;
	font-size : 20px;
	font-style: italic;
	font-weight: bolder;
	margin-bottom: 0;
	text-shadow: 1px 1px black;
}

.first-login {
	display: inline-block;
	position: relative;
	margin-bottom: 0;
	font-family: inherit;
	font-size: inherit;
	font-style: inherit;
	font-weight: inherit;
	color: rgb(109, 255, 248);
	/* color: white; */
	text-shadow: inherit;
}

.second-login {
	display: inline-block;
	position: relative;
	margin-bottom: 0;
	font-family: inherit;
	font-size: inherit;
	font-style: inherit;
	font-weight: inherit;
	color: rgb(255, 95, 122);
	/* color: white; */
	text-shadow: inherit;
}

.game-pdv {
	display: flex;
	justify-content: space-between;
	margin: 5px auto;
	text-shadow: 1px 1px black;
}

.scoregreen {
	display: inline-block;
	font-family: 'Tilt Neon', cursive;
	margin: 0;
	font-size: 18px;
	border: 1px solid white;
	border-color: white;
	border-radius: 15px;
	padding: 0 10px;
	background-color: white;
	color: rgb(109, 255, 248);
	text-shadow: inherit;
}

.heartgreen {
	display: inline-block;
	background-color: rgb(109, 255, 248);
	color: white;
	font-size: 18px;
	margin: 0.5%;
	border: 1px solid rgb(109, 255, 248);
	border-radius: 50px;
	padding: 5px
}

.game-time {
	display:inline-block;
	border: 1.5px solid white;
	margin: 0;
	font-family: 'Tilt Neon', cursive;
	text-align: center;
	font-size: 25px;
	padding: 0 60px;
	color: white;
	font-weight: bolder;
}

.heartred {
	display:inline-block;
	background-color: rgb(255, 95, 122);
	color: white;
	font-size: 18px;
	margin: 0.5%;
	border: 1px solid rgb(255, 95, 122);
	border-radius: 50px;
	padding: 5px;
}

.scorered {
	display:inline-block;
	flex: right;
	font-family: 'Tilt Neon', cursive;
	margin: 0;
	font-size: 18px;
	border: 1px solid white;
	border-color: white;
	border-radius: 15px;
	padding: 0 10px;
	background-color: white;
	color: rgb(255, 95, 122);
	text-shadow: inherit;

}


/* @media screen and (max-width: 805px) { */
	
	/* .game-container { 
		--game-width: 400px;
	} */

	/* .all-game {
		width: 100%;
	} */

	/* .game-pdv {
		display: flex;
		justify-content: space-between;
	} */

	/* .login-container {
		width: calc(var(--game-width) - 30px) ;
		margin-left: 10px;
	} */

	/* .game-frame {
		width: var(--game-width);
		height:320px;
	} */
	
	/* .scoregreen, .scorered {
		margin: 10px;
	} */
	/* .heartgreen, .heartred {
		margin: 0;
	}
	.game-time {
		padding: 0 5px;
		margin: 0.1;
	} */

	/* .barre {
		border: 3px solid white;
		position: relative;
		display: inherit;
		top:0;
	} */

	/* .title-chats {
		font-family: 'Mukta', sans-serif;
		font-size : 25px;
		color: white;
		margin: 0;
		position: relative;
		text-align:center;
		display: inherit;
	} */

/* } */