@import url('https://fonts.googleapis.com/css2?family=Mukta&display=swap');


.play-container { 
	margin: auto;
	position: relative;
	text-align: center;
	padding: 200px;
}

.goplay {
  --b: 3px;
  --s: .45em; 
  --color: #373B44;
  font-family: 'Mukta', sans-serif;
  padding: calc(.5em + var(--s)) calc(.9em + var(--s));
  color: var(--color);
  --_p: var(--s);
  background:
    conic-gradient(from 90deg at var(--b) var(--b),#0000 90deg,var(--color) 0)
    var(--_p) var(--_p)/calc(100% - var(--b) - 2*var(--_p)) calc(100% - var(--b) - 2*var(--_p));
  transition: .3s linear, color 0s, background-color 0s;
  outline: var(--b) solid #0000;
  outline-offset: .6em;
  font-size: 20px;
  border: 0;
	width: 300px;
	height: 150px;
	margin: auto;
	text-align: center;
	align-items: center;
	justify-content: center;
	display: flex;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.goplay:hover,
.goplay:focus-visible{
  --_p: 0px;
  outline-color: var(--color);
  outline-offset: .05em;
}

.goplay:active {
  background: var(--color);
  color: #fff;
}

.loaderPong-img {
  position: relative;
  top: 0;
  left: 0;
  margin: auto;
  width: 60%;
  height: auto;
}

/* CSS */
.button-24 {
  background: #FF4742;
  border: 1px solid #FF4742;
  border-radius: 6px;
  box-shadow: rgba(0, 0, 0, 0.1) 1px 2px 4px;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  font-family: nunito,roboto,proxima-nova,"proxima nova",sans-serif;
  font-size: 16px;
  font-weight: 800;
  line-height: 16px;
  min-height: 40px;
  outline: 0;
  padding: 12px 14px;
  text-align: center;
  text-rendering: geometricprecision;
  text-transform: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
}

.button-24:hover,
.button-24:active {
  background-color: initial;
  background-position: 0 0;
  color: #FF4742;
}

.button-24:active {
  opacity: .5;
}