html, body, #root {
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
		'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
		sans-serif;
	width: 100%;
	height: 100%;
	overflow-y: auto;
	/* -webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale; */
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
		monospace;
}

.button_without_style {
	background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
}

.circle {
	border-radius: 50%;
	width: 10px;
	height: 10px;
}

.online {
	background: green;
}

.offline {
	box-sizing: border-box;
	border: 2px solid grey;
}

.ingame {
	background: orange;
}