.joinChannel-container {
	position: relative;
	width: fit-content;
	margin: 50px auto 10px;
}

.channelPart-child {
	--local-gap: 6px;
	padding: var(--local-gap);
	display: flex;
	flex-direction: column;
	height: 100%;
	position: relative;
	flex: 0.5 1 0;
	height: 80%;
	box-shadow: 0 0 10px 3px blue;
	background-color: rgb(245, 245, 245);
	border-radius: 10px;
}

.channels-container {
	position: relative;
	box-sizing: border-box;
	overflow-y: scroll;
	overflow-x: hidden;
	left: var(--gap);
	width: calc(100% - var(--gap) * 2);
	height: calc(100% - var(--gap) * 4);
	scrollbar-width: thin;
}

.channels-container::-webkit-scrollbar {
	width: var(--scrollbar-width);
}

div::-webkit-scrollbar-thumb {
	border-radius: 5px; 
	background: #c5c5c5;
}

.channels-child {
	position: relative;
	left: var(--scrollbar-width);
	width: calc(100% - var(--scrollbar-width) * 2);
}

.joinChannel-text {
}

.joinChannel-input {
	width: 100%;
	box-sizing: border-box;
	font-size: 1.2rem;
	padding: 7px;
	border: 1px solid;
	border-radius: 7px;
}

.joinChannel-input:focus {
	outline: none;
}

.joinChannel-datalist {
	
}
