.level_friends-container {
	position: relative;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	align-items: flex-start;
	margin-bottom: 30px;
	margin-left: 30px;
	margin-right: 30px;
    justify-content: space-between;
}



.level-container {
	position: relative;
	width: 70%;
	top: 0;
	left: 0;
	padding: 5px;
	background-color: rgba(0, 0, 0, 0.10);
	box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
	border-radius: 10px;
}

.level {
	font-family: 'Mukta', sans-serif;
	position: relative;
	width: fit-content;
	margin-top: 0;
	margin-bottom: 0;
	font-size: 1.5rem;
	font-weight: bolder;
	font-style: italic;
	left: 25px;
}



.friends-container {
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 10px 25px;
	border-radius: 5px;
	background-color: rgba(0, 0, 0, 0.05);
	box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
	width: fit-content;
}

.friends-title {
	position: relative;
	margin: 0;
	font-size: larger;
	width: fit-content;
}

.friends-number {
	position: relative;
	margin: 0;
	width: fit-content;
}