
/* The Modal (background) */
.modalGameMenu {
	display: none; /* Hidden by default */
	position: fixed; /* Stay in place */
	z-index: 10; /* Sit on top */
	left: 0;
	top: 0;
	width: 100%; /* Full width */
	height: 100%; /* Full height */
	transition: all 0.4s;
	overflow: auto; /* Enable scroll if needed */
	background-color: rgb(0,0,0); /* Fallback color */
	background-color: rgba(88, 88, 88, 0.4); /* Black w/ opacity */
}


/* Modal Content/Box */
.modalGameMenu-content {
	background-color: rgba(88, 88, 88, 0.224);
	margin: 15% auto; /* 15% from the top and centered */
	padding: 20px;
	border: 1px solid #888;
	border-radius: 3px;
	width: 70%; /* Could be more or less, depending on screen size */
}


/* Add Animation - Zoom in the Modal */
.modalGameMenu-content, #captionImgModal {
	animation-name: zoom;
	animation-duration: 0.6s;
	animation-timing-function: cubic-bezier(0.88, 0.19, 0.37, 1.11);
}


/* The Close Button */
.close-GameMenu {
	color: #ffffff;
	float: right;
	text-shadow: 1px 1px black;
	font-size: 28px;
	font-weight: bold;
}

.close-GameMenu:hover,
.close-GameMenu:focus {
	color: black;
	text-decoration: none;
	cursor: pointer;
}



#loading-spinner {
	text-align: center;
	animation: loading-spinner 1s linear infinite;
	color: grey;
}

@keyframes loading-spinner {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}


.wrapper {
	display:flex;
	justify-content:center;
	align-items:center;
	background-color:#eee
}
.checkmark__circle {
	stroke-dasharray: 166;
	stroke-dashoffset: 166;
	stroke-width: 2;
	stroke-miterlimit: 10;
	stroke: #7ac142;
	fill: none;
	animation: stroke 0.6s cubic-bezier(0.65, 0, 0.45, 1) forwards
}
.checkmark{
	width: 56px;
	height: 56px;
	border-radius: 50%;
	display: block;
	stroke-width: 2;
	stroke: #fff;
	stroke-miterlimit: 10;
	margin: 10% auto;
	box-shadow: inset 0px 0px 0px #7ac142;
	animation: fill .4s ease-in-out .4s forwards, scale .3s ease-in-out .9s both
}
.checkmark__check{
	transform-origin: 50% 50%;
	stroke-dasharray: 48;
	stroke-dashoffset: 48;
	animation: stroke 0.3s cubic-bezier(0.65, 0, 0.45, 1) 0.8s forwards
}
@keyframes stroke{
	100% {
		stroke-dashoffset: 0
	}
}
@keyframes scale {
	0%, 100% {
		transform: none
	}
	50% {
		transform: scale3d(1.1, 1.1, 1)
	}
}
@keyframes fill {
	100% {
		box-shadow: inset 0px 0px 0px 30px #7ac142
	}
}

@media screen and (max-width: 900px) {
	.modalGameMenu-content {
		position: relative;
		left: 0 !important;
		width: 90% !important;
	}
}