.avatar-back-container {
	position: relative;
	margin-bottom: 7rem;
}

.avatarprofil {
	width:130px;
	border-radius: 50%;
}

.backprofil {
	height: 22rem;
	width: 100%
}


.pseudo-avatar-container {
	position: absolute;
	left: 8%;
	top: 78%;
	display: flex;
	flex-direction: column;
}

.pseudo-container {
	position: relative;
	display: flex;
	align-items: center;
	justify-content: space-evenly;
}

.pseudo {
	position: relative;
	width: fit-content;
	margin-left: 10px;
	font-weight: 700;
}