body {
    background : linear-gradient(to right, lightskyblue, lightblue);
}

.Register img {
    width:80px;
    text-align: center;
}

.Register {
    text-align: center;
    margin: 0 auto;
    margin: 0 auto;
    padding: 250px 30px;
}


.ping, .pong {
    width: 5px;
    height: 50px;
    
    position: absolute;
    
    background: white;
}

.ping {
    left: 6%;
    animation: ping 8s infinite linear;
}

.pong {
    right: 6%;
    animation: pong 8s infinite linear;
}

.ball {
    width: 7px;
    height: 7px;

    position: absolute;
    background: white;

    animation: ball 8s infinite linear;
}

@keyframes ball {
    0% { top: 34%;
        left: 52%; }
    8.3% { top: 52%;
        left: 90%; }
    24.9% { top: 85%;
        left: 8%; }
    30% { top: 98%;
        left: 27%; }
    41.5% { top: 70%;
        left: 90%; }
    58.1% { top: 55%;
        left: 8%; }
    74.7% {top: 13%;
        left: 90%; }
    79% {top: 1%;
        left: 70%; }
    91.3% {top: 22%;
        left: 8%; }
    100% { top: 34%;
        left: 52%; }
}

@keyframes ping {
    0% { top: 10%; }
    5% { top: 10%; }
    9% { top: 24%; }
    13% { top: 17%; }
    24.9% { top: 82%; }
    47% { top: 37%; }
    52% { top: 41%; }
    56% { top: 64%; }
    58.1% { top: 54%; }
    70% { top: 74%; }
    84% { top: 12%; }
    91.3% { top: 18%; }
    100% { top: 10%; }
}

@keyframes pong {
    0% { top: 90%; }
    8.3% { top: 51%; }
    20% { top: 60%; }
    25% { top: 34%; }
    41.5% { top: 68%; }
    46% { top: 36%; }
    52% { top: 18%; }
    58.1% { top: 53%; }
    66% { top: 14%; }
    70% { top: 20%; }
    74.7% { top: 10%; }
    91.3% { top: 10%; }
    100% { top: 90%; }
} 