@import url('https://fonts.googleapis.com/css2?family=Mukta&display=swap');


.settings-container {
	position: relative;
	margin: 1rem 1em 3rem 10rem;
}

.settings-container h2 {
	font-size: 2rem;
}

.form-search {
	position: relative;
	width: 60%;
	height: 20px;
}

.header-container {
	position: relative;
}

.button-value {
	background-color: rgb(145, 211, 252);
	box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
	color: #3c4043;
	border: none;
	cursor: pointer;
	margin: 2px 0;
	font-family: arial, sans-serif;
	font-size: 14px;
	min-width: 54px;
	padding: 0.3rem 1rem;
	width: 60%;
	touch-action: manipulation;
	text-align: left;
}

.button-value:hover {
	border-color: #000000;
	color: #202124;
}

.button-value:focus {
	border-color: #4285f4;
	outline: none;
}

.button-value:active {
	box-shadow: rgba(0, 0, 0, .1) 0 1px 1px;
}

.value-name {
	font-family: 'Mukta', sans-serif;
	width: fit-content;
	margin: 0 0 10px 7px;
}

.value-description {
	font-size: 12px;
	width: fit-content;
}

@media screen and (max-width: 967px) {
	.button-value {
		width: 95%;
	}
	
	.form-search {
		width: 95%;
	}

	.settings-container {
		position: relative;
		margin: 1rem 1em 3rem 2rem;
	}
}