body {
    background :  linear-gradient(to right, lightskyblue, lightblue);
}

img[alt=Avatar] {
    cursor: pointer;
}

.signIn {
    padding: 150px 0;
}

.signIn form {
    text-align: center;
    margin: 0 auto;
    padding: 30px 30px;
    max-width: 250px;
    border: 1px solid white;
    border-radius: 10%;
    background:rgba(255, 255, 255, .5);
}

.signIn h3 {
    font-size: 20px;
}

.signIn img {
    width:120px;
    text-align: center;
    line-height: 2em;
}

.signIn p {
    text-align: center;
}

.signIn input#input1 {
    text-align: center;
    font-size: 12px;
}

.signIn label {
    line-height: 4em;
}

.signIn button {
    width : 150px;
    height: 30px;
    background-color: rgb(82, 120, 145);
    color: white;
    margin: 1rem;
    border-radius: 15px 15px 15px 15px;
}

.error-text {
    font-size: small;
    color: red;
    text-shadow: 0.5px 0.5px 0px black;
}