
.stats-title-container {
	display: flex;
	flex-wrap: wrap;
	margin: 60px 5px;
	padding: 10px;
	border-radius: 10px;
	justify-content: space-around;
}


.stats-container {
	position: relative;
	display: flex;
	flex-wrap: wrap;
    justify-content: flex-start;
	border:  solid;
	padding: 3px;
	margin: 0 10px 0;
	align-items: center;
}

.stats-title {
	position: relative;
	width: fit-content;
	margin-bottom: 20px;
	margin-left: 10px;
	font-size: 2rem;
}

.stat-item-container {
	position: relative;
	padding: 10px;
	flex: 1 1 0px;
	display: flex;
	flex-direction: column;
	align-items: center;
	border: 2px solid grey;
	border-radius: 5px;
	margin: 0 2px;
	color: white;
	width: 100px;
	background-color: rgb(84, 84, 84);
}

.stat-item {
	position: relative;
	margin: 0;
	font-size: x-large;
}

.nbstat-item {
	position: relative;
	width: fit-content;
	font-size: 1.3rem;
	margin: 0;
}

.achievement-container {
	display: flex;
	align-items: center;
	background-color: aliceblue;
	border-radius: 3px;
	min-width: 250px;
	margin-top: 10px;
}

.achievement-img {
	width: 2em;
	margin-right: 5px;
	height: fit-content;
}
